{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark a1 stic">
    <div class="container-fluid">
    <a class="navbar-brand " href="/"><img src="{% static '/img/icons8-file-48.png' %}" class="imgnav" alt="Gabriel" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDrop" aria-controls="navbarDrop" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDrop">
        <ul class="navbar-nav me-auto">
            <li class="nav-item"><a class="nav-link atxt1" href="{% url 'xlsTool' %}">XLS</a></li>
            <li class="nav-item"><a class="nav-link atxt1" href="{% url 'pdfTool' %}">PDF</a></li>
            <li class="nav-item"><a class="nav-link atxt1" href="{% url 'mailTool' %}">EMAIL</a></li>
            
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle atxt1" href="#" id="navbarDrop1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Adm
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end a2" aria-labelledby="navbarDrop1">
                        <li><a class="dropdown-item atxt1" href="/">Create Education</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item atxt1" href="/">Create Experience</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item atxt1" href="/">Create Skill</a></li>
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
                <li class="nav-item navtext"><a class="nav-link atxt1" href="#">Out</a></li>
            {% else %}
                <li class="nav-item navtext"><a class="nav-link atxt1" href="#">Log</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>
