{% extends 'tooling/layout.html' %}

{% block content %}
    
<div class="col-11 mx-auto mb-5">
    <div class="col-11 mx-auto mt-5 mb-5 c">
        <h1>Envio de Email</h1>
        <h3>API Para enviar correos electronicos</h3>
    </div>

    <div class="col-11 mx-auto mt-5">

        <div class="col-9 mx-auto">
            <div class="col-11 mx-auto mt-3 mb-5 c">
                <h2>Enviar un correo"</h2>
                <a class="btn btn-primary btn-sm btn-color mx-auto mt-3" href="/mailSend">Enviar Email</a>
            </div>
        </div>

    </div>
</div>

{% endblock %}
