
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">ADVERTENCIA</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        El archivo .xlsx sara borrado definitivamente de los archivos para comenzar la creacion de otro.
        Esta seguro de querer hacer esto?
    </div>
    <div class="mt-2 pt-2 border-top">
        <button type="button" class="btn btn-primary btn-sm">SI Continuar</button>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="toast">NO Regresar</button>
      </div>
</div>