{% extends 'tooling/layout.html' %}

{% block content %}
    
<div class="col-11 mx-auto mb-5">
    <div class="col-11 mx-auto mt-5 mb-5 c">
        <h1>Manipulacion de PDFs</h1>
        <h3>API Para extraer paginas de un PDF</h3>
    </div>

    <div class="col-11 mx-auto mt-5">
        <div class="row">
            <div class="col-9">
                <div class="col-11 mx-auto mt-3 mb-5 c">
                    <h2>Extraer paginas de .pdf en formato .jpg independientes</h2>
                    <h6>Subir el archivo .pdf en "/static/docs" para procesarlo</h6>
                    <a class="btn btn-primary btn-sm btn-color mx-auto mt-3" href="{% url 'pdfLoad' %}">Convertir PDF a JPG</a>
                </div>

                <div class="col-12 mx-auto mb-5 ">
                    {% if catalogList %}
                    <div class="col-11 mx-auto mt-3 mb-5">
                        <div class="col-11 mx-auto mt-3 mb-5 c">
                            <h4>Imagenes previas en disco local</h4>
                        </div>

                        <div class="row row-cols-1 row-cols-md-4 g-4 prod">
                            {% for cat in catalogList %}
                            <div class="col prod">
                                <div class="card prod">
                                    <div class="card-body">
                                        <p class="card-text atxt3">{{ cat }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-3">
                <div class="col-11 mx-auto mt-3 mb-5 c">
                    <h2>Crear paginas .pdf de un formato HTML</h2>
                    <a class="btn btn-primary btn-sm btn-color mx-auto mt-3" href="/createPdf">Crear PDF</a>
                    <a class="btn btn-primary btn-sm btn-color mx-auto mt-3" href="/ordenCompraDownloadPDF">Descargar PDF Creado</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
